@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

html {
    background-image: url(../abc/img/middle-earth.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Tapestry', cursive;
    font-size: 6em;
    text-align: center;
    color: #7bf3e7;
    margin-top: 2em;
    margin-bottom: 2em;
    -webkit-animation: glow 0.8s ease-in-out infinite alternate;
    -moz-animation: glow 0.8s ease-in-out infinite alternate;
    animation: glow 0.8s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #ffd2d2, 0 0 20px #f9f953, 0 0 30px #c7c702, 0 0 40px #64c800, 0 0 50px #01bc3f, 0 0 60px #01b991, 0 0 70px #01b49f;
    }
    to {
      text-shadow: 0 0 20px #ffdede, 0 0 30px #fefb3b, 0 0 40px #b3fe39, 0 0 50px #85fb37, 0 0 60px #3bfe72, 0 0 70px #33fdc0, 0 0 80px #3ce5f8;
    }
  }

button {
    width: 100%;
    height: 550px;
    background-color: rgb(255, 238, 0);
    border: 10px solid rgb(255, 238, 0);
    border-radius: 100%;
    box-shadow: 0px 15px 40px 60px rgb(255, 238, 0);
}

.slide {
    width: 100%;
    height: 550px;
    border-radius: 100%;
}

.slideshow-container {
    max-width: 600px;
    position: relative;
    margin: auto;
  }

  .mySlides {
    display: none;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-family: 'Tapestry', cursive;
    font-size: 4em;
    color: #04756a;
    text-decoration: underline wavy #04756a 5px;
  }

  .message {
    margin-top: 2em;
    margin-bottom: 2em;
  }

  .heart {
    background-color: red;
    display: inline-block;
    height: 100px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 100px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 100%;
    height: 100px;
    position: absolute;
    width: 100px;
  }
  
  .heart:before {
    top: -50px;
    left: 0;
  }
  
  .heart:after {
    left: 50px;
    top: 0;
  }

  .love {
    margin-top: 1em;
    margin-bottom: 2em;
  }

  .signed {
    width: 20%;
    height: auto;
  }

  .XxXxX {
    font-family: 'Tapestry', cursive;
    margin-top: 1em;
    margin-bottom: 2em;
  }

  footer {
    font-family: 'Tapestry', cursive;
    font-size: 2em;
    color: #04756a;
    text-align: center;
    padding: 1em;
    margin: 1em;
  }